# Ignore the executable (not be necessary with out-of-source build)
/molspin
/molspin-superlu
/Tests/molspintest

# Ignore all binaries
*.o

# Ignore output data and logfiles
*.dat
*.log

# Ignore user-specific settings
CMakeLists.txt.user
build
.idea
.vscode
*.Identifier

#Eigen-Free branch
Vendor/

#ignore personal msd files
*.py
*.csv
rp*.msd
CISS*.msd
FWW*
Benji*
*.zip
msd-files/
*.out
python/
*.txt
__pycache__/

#ignore vscode workspase files
MolSpin.code-workspace
MolSpin copy.code-workspace
makefile

.nfs0000000006ac02c70000575c
.nfs0000000006ac03be000058d5
